[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "friendlynumber"]
	path = friendlynumber
	url = https://github.com/ethansansom/friendlynumber
[submodule "phinterval"]
	path = phinterval
	url = https://github.com/ethansansom/phinterval
